<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/weather.css" />

</head>
<body>
    <div class="d-flex">
        <div class="menu-left rounded">
            This is left panel
        </div>
        <div class="app-container">
            <div class="app-header rounded">This is header</div>
            <div class="app-main rounded bg-dark">
                @RenderBody()
            </div>
            
            <div class="app-footer rounded">This is footer</div>
        </div>
    </div>
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
